{% extends 'index.html' %}

{% block content %}
{% load static %}
<div class="text-center mt-5">
    <img src="{% static 'assets/paula.jpeg' %}" alt="" width="300"> <br><br>
        <p>
            Somos una Gestoría acreditada en Capital (C.A.B.A) - Argentina. Nuestro trabajo es hacernos cargo de su trámite, de todas la Gestiones necesarias para realizarlo y de brindarle toda la Asesoría que necesite.
        </p>
       
        <p>
            Si no se encuentra en Argentina, prefiere invertir su tiempo en otras actividades o quiere obtener resultados más rápido, contáctenos
            El tiempo estimado de duración depende del tipo de trámite a realizar:
        </p>
       
        <p>
            Trámite Exprés

            48 horas del día hábil presentándose a las 8 am - "Sólo para documentos con firma digital verificable en línea"
        </p>
       
        <p>

            Trámite Simple

            6 días hábiles - "Sólo para documentos con firma digital verificable en línea"
        </p>
       
        <p>

            Trámite Común

            10 días hábiles - "Sólo para documentos con firma holográfica y en original, o con intervención de Legalizaciones digitales"

        </p>
       
        <p>
            Trámite sin el Original

            15 a 30 días hábiles - "Exclusivo para documentos con firma holográfica, en digital, cuando no se desea entregar o enviar el original"


        </p>
       
        <p>
            

            

        </p>
       
</div>


{% endblock content %}
