{% extends 'index.html' %}

{% block content %}

<div class="text-center mt-5">
    {% if request.user.is_authenticated %}
    <h2>Agregar nuevo tramite</h2>
    <form action="" method="POST">{% csrf_token %}
        {{ formulario.as_p }}
        <input class="form-control btn btn-primary" type="submit" value="Agregar Tramite">
    </form>
    <br>
    {% endif %}
    <h2>Tramites ofrecidos</h2>
    <hr>
    <table style="width: 100%;">
        <thead>
            <tr>
                <th>Tipo de trámite</th>
            </tr>
        </thead>
        <tbody>
            {% for tramite in tramites %}
            <tr>
                <td>{{tramite.tramite}}</td>
            </tr>
            {% endfor %}

            
        </tbody>
    </table>
</div>








{% endblock %}



